

<div class="container">
  <p style="font-weight: bold">Agregar clientes</p>
  <form (ngSubmit) = "nuevoCliente()">
    <div class="mb-3">
      <label for="labelNombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="labelNombre" name="nombre" placeholder="Nombre del cliente" [(ngModel)]="nuevo.nombre">
    </div>

    <div class="mb-3">
      <label for="labelApellido" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="labelApellido" name="apellido" placeholder="Apellidos del cliente" [(ngModel)]="nuevo.apellido">
    </div>

    <div class="mb-3">
      <label for="labelEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="labelEmail" name="email" placeholder="Correo electrónico del cliente" [(ngModel)]="nuevo.email">
    </div>

    <div class="mb-3">
      <label for="labelTlfn" class="form-label">Teléfono</label>
      <input type="number" class="form-control" id="labelTlfn" name="telefono" placeholder="Número de teléfono" [(ngModel)]="nuevo.telefono">
    </div>

    <button type="submit" class="btn btn-primary">Agregar cliente</button>
  </form>

</div>

