

<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-75 mx-auto rounded">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="clientes/nuevo">Nuevo Cliente</a>
      </li>
    </ul>
</nav>

<hr class="w-75 mx-auto ">
