

<table class="table table-hover mx-auto w-75">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Telefono</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of clientes">
      <td>{{item.id}}</td>
      <td>{{item.nombre}}</td>
      <td>{{item.apellido}}</td>
      <td>{{item.email}}</td>
      <td>{{item.telefono}}</td>
      <td>
        <button [routerLink]="['/clientes',item.id]" >Editar</button>
      </td>
      <td>
        <button (click)="eliminar(item.id)">Eliminar</button>
      </td>
    </tr>

  </tbody>

</table>
