<br>
<div>
  <form (ngSubmit)="actualizar()">
    <div class="container">
      <label for="id" class="form-label">Id :</label>
      <div class="col-10">
        <input class="form-control" [(ngModel)]="clienteActualizar.id" name="id" readonly>
        <!-- <input class="form-control" [(ngModel)]="prueba[0].id" name="id"> -->
        <!-- <input class="form-control" name="id"> -->
      </div>
    </div>
    <div class="container">
      <label for="firstname-input" class="form-label">Nombre :</label>
      <div class="col-10">
        <!-- <input class="form-control" name="Nombre"> -->
        <input class="form-control" type="text" [(ngModel)]="clienteActualizar.nombre" name="Nombre">
      </div>
    </div>
    <div class="container">
      <label for="lastname-input" class="form-label">Apellidos :</label>
      <div class="col-10">
        <!-- <input class="form-control" name="Apellidos"> -->
        <input class="form-control" type="text" [(ngModel)]="clienteActualizar.apellido" name="Apellidos">
      </div>
    </div>
    <div class="container">
      <label for="example-email-input" class="form-label">Email :</label>
      <div class="col-10">
        <!-- <input class="form-control" name="Email"> -->
        <input class="form-control" type="email" [(ngModel)]="clienteActualizar.email" name="Email">
      </div>
    </div>
    <div class="container">
      <label for="example-password-input" class="form-label">Telefono :</label>
      <div class="col-10">
        <input class="form-control" type="telefono" [(ngModel)]="clienteActualizar.telefono" name="telefono">
        <!-- <input class="form-control" name="Telefono"> -->
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-success" style="margin:20px" (click)="redireccion()">Actualizar</button>
    <button type="submit" class="btn btn-primary" (click)="redireccion()">Cancelar</button>
  </form>
</div>
