<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form (ngSubmit)="entrarLogin()" >
          <div class="divider d-flex align-items-center my-4">
          </div>

          <!-- Usuario input -->
          <div>
            <label class="form-label">Usuario</label>
            <input type="text" name="usuario" [(ngModel)]="usuario" class="form-control"
              placeholder="Introduzca su usuario" />
          </div>

          <!-- Password input -->
          <div>
            <label class="form-label">Contraseña</label>
            <input type="text"  name="contraseña" [(ngModel)]="contrasena" class="form-control "
              placeholder="Introduzca su contraseña" />
          </div>
          <br>
          <div *ngIf="valor" class="alert alert-danger">
            Usuario o contraseña incorrectos
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <button  class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Entrar!</button>
            <p  class="small fw-bold mt-2 pt-1 mb-0">¿Todavía no eres usuario? <a  routerLink="/registro"
                class="link-danger">Registrarse </a></p>
          </div>




        </form>
      </div>
    </div>
  </div>

</section>
